@section scripts {
    <script>
        $(document).ready(function () {
            recuperarSeries();
            recuperarPersonajes();
        });
        // FUNCIONES SERIES
        // recuperarSeries() | Funcion que permite recoger las series almacenadas dentro de la webApi
        function recuperarSeries() {
            // Reset del select
            var select = $('#selectSerie');
            select.empty();
            select.append('<option selected disabled>Opcion...</option>');
            // Funcion para recoger el JSON
            $.getJSON('https://apiseriespersonajes.azurewebsites.net/api/Series', function (data) {
                $.each(data, function (key, value) {
                    select.append('<option value="' + value.idSerie + '">' + value.nombre + '</option>');
                });
            });
        };

        // Action event select Series
        $('#selectSerie').on('change', function () {
            cambiarInfoSerie($('#selectSerie option:selected').val())
        });

        // cambiarInfoSerie(int idSerie) | Funcion que cambiar la informacion mostrada en el div info-serie
        function cambiarInfoSerie(idSerie) {
            //Reset del div
            var divinfo = $('#info-serie')
            divinfo.empty()
            // Funcion para recoger el JSON
            $.getJSON('https://apiseriespersonajes.azurewebsites.net/api/Series/' + idSerie, function (data) {
                divinfo.append('<h2 class=\"text-danger\">' + data.nombre + '</h2>');
                divinfo.append('<img src=\"' + data.imagen + '\" style = \"width: 35%;\"/>');
            })
        }

        // FUNCIONES PERSONAJES
        // recuperarPersonajes() | Funcion que permite recoger los personajes almacenadas dentro de la webApi
        function recuperarPersonajes() {
            // Reset del select
            var select = $('#selectPersonaje');
            select.empty();
            select.append('<option selected disabled>Opcion...</option>');
            // Funcion para recoger el JSON
            $.getJSON('https://apiseriespersonajes.azurewebsites.net/api/Personajes', function (data) {
                $.each(data, function (key, value) {
                    select.append('<option value="' + value.idPersonaje + '">' + value.nombre + '</option>');
                });
            });
        };

        // Action event select Personajes
        $('#selectPersonaje').on('change', function () {
            cambiarInfoPersonaje($('#selectPersonaje option:selected').val())
        });

        // cambiarInfoPersonaje(int idSerie) | Funcion que cambiar la informacion mostrada en el div info-personaje
        function cambiarInfoPersonaje(idPersonaje) {
            //Reset del div
            var divinfo = $('#info-personaje')
            divinfo.empty()
            // Funcion para recoger el JSON
            $.getJSON('https://apiseriespersonajes.azurewebsites.net/api/Personajes/' + idPersonaje, function (data) {
                divinfo.append('<h2 class=\"text-primary\">' + data.nombre + '</h2>');
                divinfo.append('<img src=\"' + data.imagen + '\" style = \"width: 35%;\"/>');
            })
        }

        // FUNCIONES BUTTON
        // Action event select Personajes
        $('#btn-guardar').on('click', function () {
            guardarCambios($('#selectPersonaje option:selected').val(), $('#selectSerie option:selected').val())
            $('#selectSerie').empty()
            recuperarSeries()
            $('#selectPersonaje').empty()
            recuperarPersonajes()
            $('#info-serie').empty()
            $('#info-personaje').empty()
        });

        // guardarCambios(idPersonaje,idSerie)
        function guardarCambios(idPersonaje, idSerie) {
            var urlSave = 'https://apiseriespersonajes.azurewebsites.net/api/Personajes/' + idPersonaje + '/' + idSerie;
            $.ajax({
                url: urlSave,
                type: 'PUT',
                success: function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Personaje modificado exitosamente!',
                        showConfirmButton: false,
                        timer: 1500
                    });
                },
                error: function (msg) {
                    Swal.fire({
                        icon: 'error',
                        title: '¡Error al modificar',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            })
        }

    </script>
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApiMVCSeriesPeliculas</title>
</head>
<body>
    <div class="row mb-3">
        <div class="col-6 d-flex justify-content-start">
            <h1 class="text-primary">Personajes y Series</h1>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button type="button" class="btn btn-success px-3">
                <a asp-controller="Home" asp-action="Index" style="color: white; margin: 1rem 0 0 0; text-decoration:none;">
                    Volver a Inicio
                </a>
            </button>
        </div>
    </div>
    <div class="card p-3 bg-light">

        <label for="serie">Seleccione una serie:</label>
        <select class="form-select mb-3" id="selectSerie">
        </select>

        <label for="personaje">Seleccione un personaje:</label>
        <select class="form-select mb-3" id="selectPersonaje">
        </select>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <button type="button" id="btn-guardar" class="btn btn-primary" style="color: white; margin: 1rem 0 0 0;">
                    Guardar Cambios
                </button>
            </div>
        </div>

    </div>

    <div id="info-serie" class="text-center">
    </div>

    <div id="info-personaje" class="text-center">
    </div>

</body>
</html>
