@section scripts
{
    <script>
        $(document).ready(function () {
            function cargarSeries() {
                var urlSeries = 'https://apiseriespersonajes.azurewebsites.net/api/Series';

                $.ajax({
                    url: urlSeries,
                    type: 'GET',
                    dataType: 'json',
                    success: function (series) {
                        var select = $('#selectSeries');
                        select.empty();

                        select.append('<option selected disabled class="muted">Seleccione una serie...</option>');

                        $.each(series, function (index, serie) {
                            select.append('<option value="' + serie.idSerie + '">' + serie.nombre + '</option>');
                        });
                    },
                    error: function (error) {
                        console.error('Error al cargar las series:', error);
                    }
                });
            }

            cargarSeries();


        });
        function nuevoPersonaje(personaje) {
            var url = 'https://apiseriespersonajes.azurewebsites.net/api/Personajes';
            $.ajax({
                url: url,
                type: 'POST',
                data: personaje,
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $('#form')[0].reset();
                    Swal.fire({
                        icon: 'success',
                        title: '¡Personaje añadido exitosamente!',
                        showConfirmButton: false,
                        timer: 1500
                    });

                },
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al añadir personaje!',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    console.error('Error al añadir el personaje:', error);
                }
            });
        }

        $('#btnNuevoPersonaje').on('click', function (event) {
            event.preventDefault();
            var personaje = {
                nombre: $('#txtnombre').val(),
                imagen: $('#txtimagen').val(),
                idSerie: parseInt($('#selectSeries option:selected').val()) // Obtener idSerie en lugar del nombre de la serie y parsear a int
            };
            nuevoPersonaje(JSON.stringify(personaje));
        });

    </script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApiMVCSeriesPeliculas</title>
</head>
<body>
    <div class="row mb-3">
        <div class="col-6 d-flex justify-content-start">
            <h1 class="text-primary">Nuevo Personaje</h1>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button type="button" class="btn btn-success px-3">
                <a asp-controller="Home" asp-action="Index" style="color: white; margin: 1rem 0 0 0; text-decoration:none;">
                    Volver a Inicio
                </a>
            </button>
        </div>

    </div>

    <form method="post"  enctype="multipart/form-data" id="form" class="card p-3 bg-light">
        <label for="nombre">Introduce nombre del personaje</label>
        <input type="text" name="nombre" class="form-control mb-3" id="txtnombre" placeholder="Nombre..."/>

        <label for="imagen">Introduce url de la imagen del personaje</label>
        <input type="text" name="imagen" class="form-control mb-3" id="txtimagen" placeholder="URL..." />

        <label for="nombre">Introduce serie a la que pertenece el personaje</label>
        <select class="form-select mb-3" id="selectSeries">
        </select>

        <div class="row mt-3">
            <div class="col d-flex justify-content-center">
                <button type="button" id="btnNuevoPersonaje" class="btn btn-primary btn-lg my-3">
                    Añadir Personaje
                </button>
            </div>

        </div>

    </form>
    

</body>
</html>