<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApiMVCSeriesPeliculas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ApiMVCSeriesPeliculas.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ApiMVCSeriesPeliculas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ViewModels" asp-action="NuevoPersonaje">Nuevo Personaje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ViewModels" asp-action="ModificarPersonaje">Modificar Personajes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="navbarDropdownSeries" class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Series
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownSeries" id="selectSeries">
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Contenedor de la imagen de la serie -->
    <div class="container" id="serieImagenContainer" style="display: none;">
        <div class="card" style="height: 100%; width: 35%">
            <div>
                <img id="serieImagen" class="card-img-top" src="#" alt="Imagen de la serie" />
            </div>
            <div class="card-body">
                <h5 class="card-title" id="serieNombre"></h5>
                <p id="puntuacion"></p>
                <button id="personajesButton"type="button" class="btn btn-success" style="width: 100%">Personajes</button>
            </div>
        </div>
    </div>

    <!-- Contenedor de la lista de personajes -->
    <div class="container mt-3" id="personajesContainer" style="display: none;">
        <h3>Personajes</h3>
        <ul id="listaPersonajes">
        </ul>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ApiMVCSeriesPeliculas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("WelcomeMessage", required: false)
    <script>
        $(document).ready(function () {
            function cargarSeries() {
                var urlSeries = 'https://apiseriespersonajes.azurewebsites.net/api/Series';

                $.ajax({
                    url: urlSeries,
                    type: 'GET',
                    dataType: 'json',
                    success: function (series) {
                        var select = $('#selectSeries');

                        $.each(series, function (index, serie) {


                            select.append('<a class="dropdown-item" href="#" data-imagen="' + serie.imagen + '" data-nombre="' + serie.nombre + '" data-id="' + serie.idSerie + '" data-puntuacion="' + serie.puntuacion + '/">' + serie.nombre + '</a>');
                        });
                        $('.dropdown-item').click(function () {
                            var container = document.getElementById("serieImagenContainer");
                            container.style.display = "flex";
                            container.style.justifyContent = "center";
                            var imagen = $(this).data('imagen');
                            var nombre = $(this).data('nombre');
                            var idSerie = $(this).data('id');
                            var puntuacion = $(this).data('puntuacion');
                            $('#serieImagen').attr('src', imagen);
                            $('#serieNombre').text(nombre);
                            $('#puntuacion').text('Puntuacion: '+puntuacion);
                            $('#serieImagenContainer').show();
                            $('#personajesContainer').hide();
                            $('#welcomeMessage').hide();

                            $('#personajesButton').off('click').click(function () {
                                cargarPersonajes(idSerie);
                            });
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al cargar las series:', error);
                    }
                });
            }

            function cargarPersonajes(idSerie) {
                var urlPersonajes = 'https://apiseriespersonajes.azurewebsites.net/api/Series/PersonajesSerie/' + idSerie;

                $.ajax({
                    url: urlPersonajes,
                    type: 'GET',
                    dataType: 'json',
                    success: function (personajes) {
                        var tableHTML = '<div class="mb-3"><button id="volverButton" type="button" class="btn btn-danger">Volver</button></div>';
                        tableHTML += '<table class="table" style=\"background-color: #1f2121; color: white; \"><thead><tr><th>Personajes</th><th>Imagen</th></tr></thead><tbody>';
                        $.each(personajes, function (index, personaje) {
                            tableHTML += '<tr>';
                            tableHTML += '<td>' + personaje.nombre + '</td>';
                            tableHTML += '<td><img src="' + personaje.imagen + '" alt="' + personaje.nombre + '" style="max-width: 200px; max-height: 200px;"></td>';
                            tableHTML += '</tr>';
                        });
                        tableHTML += '</tbody></table>';
                        $('#personajesContainer').html(tableHTML).show();
                        $('#serieImagenContainer').hide();

                        $('#volverButton').click(function () {
                            $('#personajesContainer').hide();
                            $('#serieImagenContainer').show();
                        });

                        var td = document.getElementsByTagName("td");
                        for (var i = 0; i < td.length; i++) {
                            td[i].style.border = "1px solid gray";
                        }
                        
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al cargar los personajes:', error);
                    }
                });
            }

            cargarSeries();

        });
    </script>
</body>
</html>
